a {
    font-weight: 600;
}

.header {
    background: #080808;
    padding: 20px 0;
}

.logo a {
    font-size: 38px;
    color: orange;
    font-weight: 900;
}

.main_menu a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 0 15px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}


.main_menu a:hover,
.main_menu button:hover,
.main_menu .active {
    color: #ff9900 !important;

}

.main_menu button {
    border: none;
    background: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.header .navbar-toggler {
    background-color: #d6c7c7;
    border: 1px solid #ffefef;
}